In [7]:
#Install Packages
#!pip install langchain pip install langchain_community langchain-openai openai sqlalchemy

In [66]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine, inspect, text

In [68]:
from langchain_community.utilities import SQLDatabase
from langchain.agents import create_sql_agent
from langchain_openai import ChatOpenAI
import openai

In [69]:
#Load CSVs to Pandas Dataframes
customers_df = pd.read_csv('text_to_sql_bot/customers_data.csv')
payments_df = pd.read_csv('text_to_sql_bot/payments_data.csv')

#Create an SQLAlchemy engine for SQLite
#https://www.datacamp.com/tutorial/sqlalchemy-tutorial-examples
engine = create_engine('sqlite:///example.db')

# Write the DataFrames to the SQL database
customers_df.to_sql('customers', engine, if_exists='replace', index=False)
payments_df.to_sql('payments', engine, if_exists='replace', index=False)

500

In [70]:
# Test Database Connection
with engine.connect() as connection:
    # Use SQLAlchemy inspector to list tables
    inspector = inspect(engine)
    tables = inspector.get_table_names()
    print("Tables in the database:", tables)
    
     # Query each table and display a sample of data
    for table in tables:
        print(f"\nSample data from {table}:")
        query = text(f"SELECT * FROM {table} LIMIT 5;")
        result = connection.execute(query)
        for row in result:
            print(row)

Tables in the database: ['customers', 'payments']

Sample data from customers:
(804167, '2022-08-12', 'NH')
(909833, '2022-11-01', 'AR')
(407014, '2023-04-06', 'NY')
(564697, '2022-01-28', 'ME')
(548060, '2023-11-21', 'IA')

Sample data from payments:
('c52fffa5-15bd-4b3a-9e72-fbfa78e754f5', 837542, 950447, '2023-12-21', 'FAILURE', 77188)
('2b17845b-87b4-4254-b90b-fc95017e2c9e', 190186, 576925, '2023-06-12', 'SUCCESS', 75299)
('3634b895-b9ed-4e82-be63-860038de20e3', 508607, 548060, '2023-12-04', 'FAILURE', 22181)
('e4f4d48b-833c-4643-8df8-798553eb8b7c', 335083, 714482, '2023-11-29', 'FAILURE', 14573)
('bcb333a7-18c3-40b3-8baa-e01ba1bb4da0', 558046, 647995, '2023-12-17', 'FAILURE', 96635)

In [72]:
# Step 2: Initialize the OpenAI LLM with API key
llm = ChatOpenAI(temperature=0.0, model="gpt-3.5-turbo-0125", openai_api_key= 'your_open_ai_key')

# Step 3: Initialize the SQLDatabase object with the SQLAlchemy engine
db = SQLDatabase(engine)

# Create LangChain SQL Agent 
#https://python.langchain.com/v0.1/docs/use_cases/sql/agents/
sql_agent = create_sql_agent(llm=llm, db=db, verbose=True, agent_type="zero-shot-react-description")

In [73]:
# Step 4: Ask a question in natural language
question = "Find the total Number of Unique Transactions"
response = sql_agent.run(question)
print(response)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: customers, paymentsI should query the schema of the payments table to see if it contains information about transactions.
Action: sql_db_schema
Action Input: payments
CREATE TABLE payments (
	payment_id TEXT,
	sender_id BIGINT,
	recipient_id BIGINT,
	created_at TEXT,
	payment_state TEXT,
	amount_cents BIGINT
)

/*
3 rows from payments table:
payment_id	sender_id	recipient_id	created_at	payment_state	amount_cents
c52fffa5-15bd-4b3a-9e72-fbfa78e754f5	837542	950447	2023-12-21	FAILURE	77188
2b17845b-87b4-4254-b90b-fc95017e2c9e	190186	576925	2023-06-12	SUCCESS	75299
3634b895-b9ed-4e82-be63-860038de20e3	508607	548060	2023-12-04	FAILURE	22181
*/I can use the payments table to find the total number of unique transactions by counting the distinct payment_id values.
Action: sql_db_query
Action Input: SELECT COUNT(DISTINCT payment_id) AS total_unique_transactions FROM payments[(500,)]I now know the final answer
Final Answer: There are 500 unique transactions.

> Finished chain.
There are 500 unique transactions.

In [113]:
#Use Callbacks to get the final SQL Query as well as steps taken by the agent.
from langchain.callbacks.base import BaseCallbackHandler
from langchain.schema import AgentAction

class SQLHandler(BaseCallbackHandler):
    def __init__(self):
        self.sql_result = None
        self.sql_result_log = []
        
    def on_agent_action(self, action: AgentAction, **kwargs):
        #print(f"Action Tool: {action.tool}")
        """Run on agent action. If the tool being used is sql_db_query,
        it means we're submitting the SQL and we can record it as the final SQL."""
        if action.tool == "sql_db_query":
            self.sql_result = action.tool_input
            #print(f"SQL Query Captured: {self.sql_result}")
        self.sql_result_log.append(action.log)
# Instantiate your SQLHandler
sql_handler = SQLHandler()

In [114]:
# Invoke the SQL agent with the custom callback handler
question = "Find the total Number of Unique Transactions"
result = sql_agent.run(question, callbacks=[sql_handler])

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: customers, paymentsI should query the payments table to find unique transactions.
Action: sql_db_schema
Action Input: payments
CREATE TABLE payments (
	payment_id TEXT,
	sender_id BIGINT,
	recipient_id BIGINT,
	created_at TEXT,
	payment_state TEXT,
	amount_cents BIGINT
)

/*
3 rows from payments table:
payment_id	sender_id	recipient_id	created_at	payment_state	amount_cents
c52fffa5-15bd-4b3a-9e72-fbfa78e754f5	837542	950447	2023-12-21	FAILURE	77188
2b17845b-87b4-4254-b90b-fc95017e2c9e	190186	576925	2023-06-12	SUCCESS	75299
3634b895-b9ed-4e82-be63-860038de20e3	508607	548060	2023-12-04	FAILURE	22181
*/I can use the payments table to find the total number of unique transactions by counting the distinct payment_id values.
Action: sql_db_query
Action Input: SELECT COUNT(DISTINCT payment_id) AS total_unique_transactions FROM payments[(500,)]I now know the final answer
Final Answer: The total number of unique transactions is 500.

> Finished chain.

In [160]:
# Access the result
print("Result:", result)
print("")
# Access the SQL query
print("Generated SQL:", sql_handler.sql_result)
print("")

print("Steps Taken By Agent:")
for (line,i) in zip(sql_handler.sql_result_log,range(1,len(sql_handler.sql_result_log)+1)):
    print("Step -", i, ":\n", line, sep="")
    print("\n")

Result: The total number of unique transactions is 500.

Generated SQL: SELECT COUNT(DISTINCT payment_id) AS total_unique_transactions FROM payments

Steps Taken By Agent:
Step -1:
Action: sql_db_list_tables
Action Input:


Step -2:
I should query the payments table to find unique transactions.
Action: sql_db_schema
Action Input: payments


Step -3:
I can use the payments table to find the total number of unique transactions by counting the distinct payment_id values.
Action: sql_db_query
Action Input: SELECT COUNT(DISTINCT payment_id) AS total_unique_transactions FROM payments

In [56]:
#Q1
question = "Find the Total number of Unique Transactions, Senders and Recipients with Successful transactions ?"
response = sql_agent.run(question)
print(response)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""customers, paymentsThe payments table seems to be the most relevant for this question. I should check its schema to understand its structure.
Action: sql_db_schema
Action Input: "payments"
CREATE TABLE payments (
	payment_id TEXT,
	sender_id BIGINT,
	recipient_id BIGINT,
	created_at TEXT,
	payment_state TEXT,
	amount_cents BIGINT
)

/*
3 rows from payments table:
payment_id	sender_id	recipient_id	created_at	payment_state	amount_cents
c52fffa5-15bd-4b3a-9e72-fbfa78e754f5	837542	950447	2023-12-21	FAILURE	77188
2b17845b-87b4-4254-b90b-fc95017e2c9e	190186	576925	2023-06-12	SUCCESS	75299
3634b895-b9ed-4e82-be63-860038de20e3	508607	548060	2023-12-04	FAILURE	22181
*/The payments table has the columns I need to answer the question. I need to count the unique payment_id for transactions, sender_id for senders, and recipient_id for recipients. But I only need to consider the rows where payment_state is 'SUCCESS'. I will write a query for this and check it.
Action: sql_db_query_checker
Action Input: "SELECT COUNT(DISTINCT payment_id) AS Unique_Transactions, COUNT(DISTINCT sender_id) AS Unique_Senders, COUNT(DISTINCT recipient_id) AS Unique_Recipients FROM payments WHERE payment_state = 'SUCCESS'"SELECT COUNT(DISTINCT payment_id) AS Unique_Transactions, COUNT(DISTINCT sender_id) AS Unique_Senders, COUNT(DISTINCT recipient_id) AS Unique_Recipients FROM payments WHERE payment_state = 'SUCCESS'The query is correct. Now I will run it to get the answer.
Action: sql_db_query
Action Input: "SELECT COUNT(DISTINCT payment_id) AS Unique_Transactions, COUNT(DISTINCT sender_id) AS Unique_Senders, COUNT(DISTINCT recipient_id) AS Unique_Recipients FROM payments WHERE payment_state = 'SUCCESS'"[(257, 152, 171)]I now know the final answer
Final Answer: There are 257 unique transactions, 152 unique senders, and 171 unique recipients with successful transactions.

> Finished chain.
There are 257 unique transactions, 152 unique senders, and 171 unique recipients with successful transactions.

In [64]:
#Q2
question = "Find the failure rate of transactions by sender’s geographical state and return the top 10 states with the highest failure rate?"
response = sql_agent.run(question)
print(response)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""customers, paymentsThe tables 'customers' and 'payments' seem relevant to the question. I should check their schemas to see if they contain the necessary information.
Action: sql_db_schema
Action Input: "customers, payments"
CREATE TABLE customers (
	customer_id BIGINT,
	created_at TEXT,
	state TEXT
)

/*
3 rows from customers table:
customer_id	created_at	state
804167	2022-08-12	NH
909833	2022-11-01	AR
407014	2023-04-06	NY
*/


CREATE TABLE payments (
	payment_id TEXT,
	sender_id BIGINT,
	recipient_id BIGINT,
	created_at TEXT,
	payment_state TEXT,
	amount_cents BIGINT
)

/*
3 rows from payments table:
payment_id	sender_id	recipient_id	created_at	payment_state	amount_cents
c52fffa5-15bd-4b3a-9e72-fbfa78e754f5	837542	950447	2023-12-21	FAILURE	77188
2b17845b-87b4-4254-b90b-fc95017e2c9e	190186	576925	2023-06-12	SUCCESS	75299
3634b895-b9ed-4e82-be63-860038de20e3	508607	548060	2023-12-04	FAILURE	22181
*/The 'customers' table has the 'state' and 'customer_id' fields, and the 'payments' table has the 'sender_id' and 'payment_state' fields. I can join these two tables on 'customer_id' and 'sender_id' to get the state of the sender. Then I can calculate the failure rate of transactions by state. I will write a SQL query to do this.
Action: sql_db_query_checker
Action Input: "SELECT c.state, COUNT(*) as total_transactions, SUM(CASE WHEN p.payment_state = 'FAILURE' THEN 1 ELSE 0 END) as failed_transactions, (SUM(CASE WHEN p.payment_state = 'FAILURE' THEN 1 ELSE 0 END) / COUNT(*)) * 100 as failure_rate FROM customers c JOIN payments p ON c.customer_id = p.sender_id GROUP BY c.state ORDER BY failure_rate DESC LIMIT 10"SELECT c.state, COUNT(*) as total_transactions, SUM(CASE WHEN p.payment_state = 'FAILURE' THEN 1 ELSE 0 END) as failed_transactions, (SUM(CASE WHEN p.payment_state = 'FAILURE' THEN 1 ELSE 0 END) / COUNT(*)) * 100 as failure_rate FROM customers c JOIN payments p ON c.customer_id = p.sender_id GROUP BY c.state ORDER BY failure_rate DESC LIMIT 10The query syntax is correct. Now I will execute the query to get the top 10 states with the highest transaction failure rate.
Action: sql_db_query
Action Input: "SELECT c.state, COUNT(*) as total_transactions, SUM(CASE WHEN p.payment_state = 'FAILURE' THEN 1 ELSE 0 END) as failed_transactions, (SUM(CASE WHEN p.payment_state = 'FAILURE' THEN 1 ELSE 0 END) / COUNT(*)) * 100 as failure_rate FROM customers c JOIN payments p ON c.customer_id = p.sender_id GROUP BY c.state ORDER BY failure_rate DESC LIMIT 10"[('WY', 12, 6, 0), ('WV', 5, 4, 0), ('WI', 9, 5, 0), ('WA', 4, 1, 0), ('VT', 13, 5, 0), ('VA', 4, 1, 0), ('UT', 3, 1, 0), ('TX', 12, 6, 0), ('TN', 5, 3, 0), ('SD', 10, 4, 0)]I now have the top 10 states with the highest transaction failure rate. The failure rate is calculated as the number of failed transactions divided by the total number of transactions, multiplied by 100 to get a percentage. However, it seems that the failure rate is showing as 0 for all states, which might be due to integer division. I should modify the query to cast the count to a float before division to get a correct percentage.
Action: sql_db_query_checker
Action Input: "SELECT c.state, COUNT(*) as total_transactions, SUM(CASE WHEN p.payment_state = 'FAILURE' THEN 1 ELSE 0 END) as failed_transactions, (SUM(CASE WHEN p.payment_state = 'FAILURE' THEN 1 ELSE 0 END) / CAST(COUNT(*) AS FLOAT)) * 100 as failure_rate FROM customers c JOIN payments p ON c.customer_id = p.sender_id GROUP BY c.state ORDER BY failure_rate DESC LIMIT 10"SELECT c.state, COUNT(*) as total_transactions, SUM(CASE WHEN p.payment_state = 'FAILURE' THEN 1 ELSE 0 END) as failed_transactions, (SUM(CASE WHEN p.payment_state = 'FAILURE' THEN 1 ELSE 0 END) / CAST(COUNT(*) AS FLOAT)) * 100 as failure_rate FROM customers c JOIN payments p ON c.customer_id = p.sender_id GROUP BY c.state ORDER BY failure_rate DESC LIMIT 10The query syntax is correct. Now I will execute the query to get the top 10 states with the highest transaction failure rate.
Action: sql_db_query
Action Input: "SELECT c.state, COUNT(*) as total_transactions, SUM(CASE WHEN p.payment_state = 'FAILURE' THEN 1 ELSE 0 END) as failed_transactions, (SUM(CASE WHEN p.payment_state = 'FAILURE' THEN 1 ELSE 0 END) / CAST(COUNT(*) AS FLOAT)) * 100 as failure_rate FROM customers c JOIN payments p ON c.customer_id = p.sender_id GROUP BY c.state ORDER BY failure_rate DESC LIMIT 10"[('MN', 10, 9, 90.0), ('MA', 9, 8, 88.88888888888889), ('MO', 6, 5, 83.33333333333334), ('WV', 5, 4, 80.0), ('CT', 9, 7, 77.77777777777779), ('MT', 8, 6, 75.0), ('KY', 4, 3, 75.0), ('GA', 9, 6, 66.66666666666666), ('AL', 6, 4, 66.66666666666666), ('OK', 16, 10, 62.5)]I now know the final answer.
Final Answer: The top 10 states with the highest transaction failure rate are:
1. Minnesota (MN) with a failure rate of 90.0%
2. Massachusetts (MA) with a failure rate of 88.89%
3. Missouri (MO) with a failure rate of 83.33%
4. West Virginia (WV) with a failure rate of 80.0%
5. Connecticut (CT) with a failure rate of 77.78%
6. Montana (MT) with a failure rate of 75.0%
7. Kentucky (KY) with a failure rate of 75.0%
8. Georgia (GA) with a failure rate of 66.67%
9. Alabama (AL) with a failure rate of 66.67%
10. Oklahoma (OK) with a failure rate of 62.5%

> Finished chain.
The top 10 states with the highest transaction failure rate are:
1. Minnesota (MN) with a failure rate of 90.0%
2. Massachusetts (MA) with a failure rate of 88.89%
3. Missouri (MO) with a failure rate of 83.33%
4. West Virginia (WV) with a failure rate of 80.0%
5. Connecticut (CT) with a failure rate of 77.78%
6. Montana (MT) with a failure rate of 75.0%
7. Kentucky (KY) with a failure rate of 75.0%
8. Georgia (GA) with a failure rate of 66.67%
9. Alabama (AL) with a failure rate of 66.67%
10. Oklahoma (OK) with a failure rate of 62.5%

In [59]:
#Q3
question = "Find the Customer or Customers that sent or received the most amount in the year 2022 irrespective of if the transactio was a success or failure?"
response = sql_agent.run(question)
print(response)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""customers, paymentsThe tables 'customers' and 'payments' seem relevant to the question. I should check their schemas to understand the structure of the data.
Action: sql_db_schema
Action Input: "customers, payments"
CREATE TABLE customers (
	customer_id BIGINT,
	created_at TEXT,
	state TEXT
)

/*
3 rows from customers table:
customer_id	created_at	state
804167	2022-08-12	NH
909833	2022-11-01	AR
407014	2023-04-06	NY
*/


CREATE TABLE payments (
	payment_id TEXT,
	sender_id BIGINT,
	recipient_id BIGINT,
	created_at TEXT,
	payment_state TEXT,
	amount_cents BIGINT
)

/*
3 rows from payments table:
payment_id	sender_id	recipient_id	created_at	payment_state	amount_cents
c52fffa5-15bd-4b3a-9e72-fbfa78e754f5	837542	950447	2023-12-21	FAILURE	77188
2b17845b-87b4-4254-b90b-fc95017e2c9e	190186	576925	2023-06-12	SUCCESS	75299
3634b895-b9ed-4e82-be63-860038de20e3	508607	548060	2023-12-04	FAILURE	22181
*/The 'payments' table contains the information about the transactions, including the sender_id, recipient_id, created_at, and amount_cents. The 'customers' table contains the customer_id which can be linked to the sender_id and recipient_id in the 'payments' table. I need to write a query that finds the customer or customers that sent or received the most amount in the year 2022. I will first write the query and then check it using the sql_db_query_checker tool.
Action: sql_db_query_checker
Action Input: "SELECT customer_id, SUM(amount_cents) as total_amount FROM (SELECT sender_id as customer_id, amount_cents FROM payments WHERE strftime('%Y', created_at) = '2022' UNION ALL SELECT recipient_id as customer_id, amount_cents FROM payments WHERE strftime('%Y', created_at) = '2022') GROUP BY customer_id ORDER BY total_amount DESC LIMIT 10"SELECT customer_id, SUM(amount_cents) as total_amount
FROM (
    SELECT sender_id as customer_id, amount_cents
    FROM payments
    WHERE strftime('%Y', created_at) = '2022'
    UNION ALL
    SELECT recipient_id as customer_id, amount_cents
    FROM payments
    WHERE strftime('%Y', created_at) = '2022'
)
GROUP BY customer_id
ORDER BY total_amount DESC
LIMIT 10The query is correct. Now I will execute it to get the customers that sent or received the most amount in the year 2022.
Action: sql_db_query
Action Input: "SELECT customer_id, SUM(amount_cents) as total_amount FROM (SELECT sender_id as customer_id, amount_cents FROM payments WHERE strftime('%Y', created_at) = '2022' UNION ALL SELECT recipient_id as customer_id, amount_cents FROM payments WHERE strftime('%Y', created_at) = '2022') GROUP BY customer_id ORDER BY total_amount DESC LIMIT 10"[(774205, 238676), (737049, 163598), (688240, 162945), (275620, 140761), (672501, 140365), (397514, 131585), (462594, 121979), (635858, 116524), (687686, 102263), (564225, 98414)]I now know the final answer.
Final Answer: The customers that sent or received the most amount in the year 2022 are:
1. Customer 774205 with a total amount of 238676 cents
2. Customer 737049 with a total amount of 163598 cents
3. Customer 688240 with a total amount of 162945 cents
4. Customer 275620 with a total amount of 140761 cents
5. Customer 672501 with a total amount of 140365 cents
6. Customer 397514 with a total amount of 131585 cents
7. Customer 462594 with a total amount of 121979 cents
8. Customer 635858 with a total amount of 116524 cents
9. Customer 687686 with a total amount of 102263 cents
10. Customer 564225 with a total amount of 98414 cents

> Finished chain.
The customers that sent or received the most amount in the year 2022 are:
1. Customer 774205 with a total amount of 238676 cents
2. Customer 737049 with a total amount of 163598 cents
3. Customer 688240 with a total amount of 162945 cents
4. Customer 275620 with a total amount of 140761 cents
5. Customer 672501 with a total amount of 140365 cents
6. Customer 397514 with a total amount of 131585 cents
7. Customer 462594 with a total amount of 121979 cents
8. Customer 635858 with a total amount of 116524 cents
9. Customer 687686 with a total amount of 102263 cents
10. Customer 564225 with a total amount of 98414 cents

In [60]:
#Q4
question = "Find all Customers that opened an account in August 2022 that have sent or received >$100 in the first 30 days of opening the account?"
response = sql_agent.run(question)
print(response)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""customers, paymentsThe tables 'customers' and 'payments' seem relevant to the question. I should check their schemas to understand the structure and fields.
Action: sql_db_schema
Action Input: "customers, payments"
CREATE TABLE customers (
	customer_id BIGINT,
	created_at TEXT,
	state TEXT
)

/*
3 rows from customers table:
customer_id	created_at	state
804167	2022-08-12	NH
909833	2022-11-01	AR
407014	2023-04-06	NY
*/


CREATE TABLE payments (
	payment_id TEXT,
	sender_id BIGINT,
	recipient_id BIGINT,
	created_at TEXT,
	payment_state TEXT,
	amount_cents BIGINT
)

/*
3 rows from payments table:
payment_id	sender_id	recipient_id	created_at	payment_state	amount_cents
c52fffa5-15bd-4b3a-9e72-fbfa78e754f5	837542	950447	2023-12-21	FAILURE	77188
2b17845b-87b4-4254-b90b-fc95017e2c9e	190186	576925	2023-06-12	SUCCESS	75299
3634b895-b9ed-4e82-be63-860038de20e3	508607	548060	2023-12-04	FAILURE	22181
*/The 'customers' table has the 'customer_id' and 'created_at' fields which can be used to find customers who opened an account in August 2022. The 'payments' table has the 'sender_id', 'recipient_id', 'created_at', and 'amount_cents' fields which can be used to find payments that were sent or received by these customers within 30 days of opening the account and were greater than $100. I need to join these tables on 'customer_id' = 'sender_id' or 'customer_id' = 'recipient_id'. I will write a query to get this data.
Action: sql_db_query_checker
Action Input: "SELECT c.customer_id, c.created_at, p.payment_id, p.created_at, p.amount_cents FROM customers c LEFT JOIN payments p ON (c.customer_id = p.sender_id OR c.customer_id = p.recipient_id) WHERE c.created_at BETWEEN '2022-08-01' AND '2022-08-31' AND p.created_at BETWEEN c.created_at AND datetime(c.created_at, '+30 days') AND p.amount_cents > 10000 ORDER BY c.created_at LIMIT 10"SELECT c.customer_id, c.created_at, p.payment_id, p.created_at, p.amount_cents
FROM customers c
LEFT JOIN payments p
ON (c.customer_id = p.sender_id OR c.customer_id = p.recipient_id)
WHERE c.created_at BETWEEN '2022-08-01' AND '2022-08-31'
AND p.created_at BETWEEN c.created_at AND datetime(c.created_at, '+30 days')
AND p.amount_cents > 10000
ORDER BY c.created_at
LIMIT 10The query is correct and ready to be executed. It will return the customers who opened an account in August 2022 and made or received payments greater than $100 within the first 30 days of opening the account.
Action: sql_db_query
Action Input: "SELECT c.customer_id, c.created_at, p.payment_id, p.created_at, p.amount_cents FROM customers c LEFT JOIN payments p ON (c.customer_id = p.sender_id OR c.customer_id = p.recipient_id) WHERE c.created_at BETWEEN '2022-08-01' AND '2022-08-31' AND p.created_at BETWEEN c.created_at AND datetime(c.created_at, '+30 days') AND p.amount_cents > 10000 ORDER BY c.created_at LIMIT 10"[(829271, '2022-08-31', 'f1f3fd44-d0e3-498d-a471-e93d6c2fbcb9', 87089), (716684, '2022-09-02', '886808f4-b3a8-4db2-b427-fc052d992b28', 68101)]I now know the final answer.
Final Answer: The customers who opened an account in August 2022 and made or received payments greater than $100 within the first 30 days of opening the account are:
1. Customer with ID 829271 who opened the account on 2022-08-31 and made a payment with ID 'f1f3fd44-d0e3-498d-a471-e93d6c2fbcb9' of amount $870.89.
2. Customer with ID 716684 who opened the account on 2022-09-02 and made a payment with ID '886808f4-b3a8-4db2-b427-fc052d992b28' of amount $681.01.

> Finished chain.
The customers who opened an account in August 2022 and made or received payments greater than $100 within the first 30 days of opening the account are:
1. Customer with ID 829271 who opened the account on 2022-08-31 and made a payment with ID 'f1f3fd44-d0e3-498d-a471-e93d6c2fbcb9' of amount $870.89.
2. Customer with ID 716684 who opened the account on 2022-09-02 and made a payment with ID '886808f4-b3a8-4db2-b427-fc052d992b28' of amount $681.01.

In [61]:
#Q5
question = "Find pairs of customers who successfully sent and received money between each other?"
response = sql_agent.run(question)
print(response)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""customers, paymentsThe tables 'customers' and 'payments' seem relevant to the question. I should check their schemas to understand the structure of the data.
Action: sql_db_schema
Action Input: "customers, payments"
CREATE TABLE customers (
	customer_id BIGINT,
	created_at TEXT,
	state TEXT
)

/*
3 rows from customers table:
customer_id	created_at	state
804167	2022-08-12	NH
909833	2022-11-01	AR
407014	2023-04-06	NY
*/


CREATE TABLE payments (
	payment_id TEXT,
	sender_id BIGINT,
	recipient_id BIGINT,
	created_at TEXT,
	payment_state TEXT,
	amount_cents BIGINT
)

/*
3 rows from payments table:
payment_id	sender_id	recipient_id	created_at	payment_state	amount_cents
c52fffa5-15bd-4b3a-9e72-fbfa78e754f5	837542	950447	2023-12-21	FAILURE	77188
2b17845b-87b4-4254-b90b-fc95017e2c9e	190186	576925	2023-06-12	SUCCESS	75299
3634b895-b9ed-4e82-be63-860038de20e3	508607	548060	2023-12-04	FAILURE	22181
*/The 'payments' table contains the information about who sent and received money. I need to find pairs of customers who have both sent and received money from each other. I can do this by joining the 'payments' table on itself where the sender_id of the first table matches the recipient_id of the second table and vice versa. I also need to make sure that the payment_state is 'SUCCESS'. I will write a query for this and check it.
Action: sql_db_query_checker
Action Input: "SELECT p1.sender_id AS customer1, p2.sender_id AS customer2 FROM payments p1 JOIN payments p2 ON p1.sender_id = p2.recipient_id AND p1.recipient_id = p2.sender_id WHERE p1.payment_state = 'SUCCESS' AND p2.payment_state = 'SUCCESS' LIMIT 10"SELECT p1.sender_id AS customer1, p2.sender_id AS customer2 FROM payments p1 JOIN payments p2 ON p1.sender_id = p2.recipient_id AND p1.recipient_id = p2.sender_id WHERE p1.payment_state = 'SUCCESS' AND p2.payment_state = 'SUCCESS' LIMIT 10The query syntax is correct. Now I will execute it to get the pairs of customers who successfully sent and received money between each other.
Action: sql_db_query
Action Input: "SELECT p1.sender_id AS customer1, p2.sender_id AS customer2 FROM payments p1 JOIN payments p2 ON p1.sender_id = p2.recipient_id AND p1.recipient_id = p2.sender_id WHERE p1.payment_state = 'SUCCESS' AND p2.payment_state = 'SUCCESS' LIMIT 10"[(801918, 204607), (219345, 160092), (803476, 616489), (616489, 803476), (160092, 219345), (204607, 801918)]I now know the final answer
Final Answer: The pairs of customers who successfully sent and received money between each other are (801918, 204607), (219345, 160092), (803476, 616489), (616489, 803476), (160092, 219345), (204607, 801918).

> Finished chain.
The pairs of customers who successfully sent and received money between each other are (801918, 204607), (219345, 160092), (803476, 616489), (616489, 803476), (160092, 219345), (204607, 801918).